.home{
    width: 100%;
  height: 100vh;
  background-color: #002244;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container{
    height: 550px;
    width: 450px;
    border-radius: 30px;
    box-shadow: rgba(56, 166, 151, 0.3) 0px 1px 2px 0px, rgba(66, 200, 187, 0.15) 0px 2px 6px 2px;
}

.home-header{
    text-align: center;
    color: white;
    padding: 2px;
    font-size: 40px;
}

.home-links{
    margin: 0 auto;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home-link{
    text-decoration: none;
    color: white;
    background-color: rgba(34, 231, 205,.8);
    width: 95%;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    margin-top: 15px;
    font-size: large;
}
